<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbarTitle">Front-end Course</span>
  <mat-menu #menu="matMenu">
    <button mat-icon-button (click)="onNavigateClick('home')">
      <mat-icon>home</mat-icon> Front Page
    </button>
    <button mat-menu-item (click)="onNavigateClick('calculator')">Calculator</button>
    <button mat-menu-item (click)="onNavigateClick('feedback')">Feedback Questions</button>
  </mat-menu>
</mat-toolbar>

