<mat-card>
  <mat-card-title>{{forexRates.date}} Currency Exchange Rates</mat-card-title>
  <mat-form-field>
    <mat-label>Select base currency</mat-label>
    <mat-select [(ngModel)]="selectedForex" (ngModelChange)="onChange()">
      <mat-option *ngFor="let f of forexList" [value]="f">
        {{f}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput type="text" placeholder="Select amount" [(ngModel)]="amount">
    </label>
  </mat-form-field>
  <mat-icon>arrow_forward</mat-icon>
  <mat-form-field>
    <mat-label>Select target currency</mat-label>
    <mat-select [(ngModel)]="targetForex">
      <mat-option *ngFor="let f of forexList" [value]="f">
        {{f}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput type="text" placeholder="Amount" [disabled]="true">
    </label>
  </mat-form-field>

</mat-card>
