<mat-card>
  <div class="formContainer">
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.firstName"
               type="text"
               required
               placeholder="First name">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.lastName"
               type="text"
               required
               placeholder="Last name">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.email"
               type="text"
               required
               placeholder="Email address">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.username"
               type="text"
               required
               placeholder="Street address">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.password"
               type="text"
               required
               placeholder="Postal Code">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="person.password"
               type="text"
               required
               placeholder="Postal Code">
      </label>
    </mat-form-field>
  </div>
</mat-card>
