mat-card {
   width: 80vw;
   display: block;
   margin: auto;
 }

.formContainer{
  display: inline-block;
  margin: auto;
}

mat-form-field {
  display: table-row;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: darkseagreen;
}
