.container {
  background-color: grey;
  width: 325px;
  text-align: center;
}

input {
  width: 90%;
  height: auto;
  text-align: right;
  font-size: 20px;
}

button {
  background-color: darkseagreen;
}


