name: Build angular app in docker
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend-course 
    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and npm run build
        run: |
          npm install
          npm run build
      - uses: actions/upload-artifact@master
        with:
          name: webpack artifacts
          path: public

#  test:
#    runs-on: ubuntu-latest
#    needs: build
#    defaults:
#      run:
#        working-directory: ./frontend-course 
#    strategy:
#      matrix:
#        os: [ubuntu-lastest, windows-2016]
#        node-version: [12.x, 14.x]
#
#    steps:
#      - uses: actions/checkout@v1
#      - name: Use Node.js ${{ matrix.node-version }}
#        uses: actions/setup-node@v1
#        with:
#          node-version: ${{ matrix.node-version }}
#      - uses: actions/download-artifact@master
#        with:
#          name: webpack artifacts
#          path: public
#      - name: npm install, and test
#        run: |
#          npm install
#          npm test
#        env:
#          CI: true      
#
  Build-and-Push-Docker-Image:
    runs-on: ubuntu-latest
    needs: build
    defaults:
      run:
        working-directory: ./frontend-course 
    name: Docker Build, Tag, Push
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Download built artifact
      uses: actions/download-artifact@main
      with:
        name: webpack artifacts
        path: public
    - name: Deploy to heroku
      uses: akhileshns/heroku-deploy@v3.10.9
      with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "front-end-tech-docker-test"
          heroku_email: "joonas.rapo@gmail.com"
          remote_branch: master 
          usedocker: true
